@import "cards/_cards.scss";

main {
   background-color: $main-bg;
   position: relative;
   .label {
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 300px;
      font-size: $l;
      font-weight: 700;
      position: absolute;
      top: -30px;
      background-color: $sec-bg;
      color: $main-txt;
   }
}

.wrapper {
   padding-top: 50px;
   flex-wrap: wrap; 
}
.load {
   justify-content: center;
   a {
      padding: 7px 35px;
      background-color: $sec-bg; 
      color: $main-txt;  
      font-size: $s;
      font-weight: 600;
   }
}

.blue {
   background-color: $sec-bg;
   height: 150px;
   margin-top: 30px;
   .container {
      align-items: center;
      height: 100%;
      .cell {
         width: calc(100% / 5 - 20px);
         margin: 0 10px;
         justify-content: center;
      }
      .img {
         img, svg {
            width: 50px;
         }
      }
      .cell-txt {
         align-items: center;
         a {
         margin-left: 15px;
         color: $main-txt;
         }
      }
   }
}