/* COLORS */
/* /COLORS */
/* TYPO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

nav {
  width: 100%;
}
nav .nav-up {
  background-color: #0282f9;
}
nav .nav-up .container .nav-up-text {
  height: 30px;
  margin-left: auto;
  color: #fff;
  align-items: center;
}
nav .nav-up .container .nav-up-text span {
  margin-left: 50px;
  font-size: 10px;
}
nav .nav-up .container .nav-up-text span i {
  margin-left: 5px;
}
nav .nav-down {
  height: 100px;
}
nav .nav-down .container {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
nav .nav-down .container .logo img {
  width: 60px;
}
nav .nav-down .container .nav-cmd {
  height: 100%;
}
nav .nav-down .container .nav-cmd ul {
  height: 100%;
  align-items: center;
}
nav .nav-down .container .nav-cmd ul li {
  margin: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav-down .container .nav-cmd ul li.active {
  border-bottom: 5px solid #0282f9;
}
nav .nav-down .container .nav-cmd ul li.active a {
  color: #0282f9;
}
nav .nav-down .container .nav-cmd ul li a {
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  font-weight: 600;
}
nav .nav-down .container .nav-cmd ul li i {
  margin-left: 5px;
  color: #0282f9;
  font-size: 10px;
}
nav .nav-down .container .search {
  border-bottom: 2px solid #0282f9;
}
nav .nav-down .container .search input {
  border: 0;
  width: 100px;
}
nav .nav-down .container .search button {
  border: 0;
  background-color: inherit;
  padding-left: 10px;
}

::-moz-placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

:-ms-input-placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

::placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

.jumbo {
  position: relative;
  background-image: url(/img/jumbotron.jpg);
  height: 500px;
}
.jumbo .label {
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: -30px;
  background-color: #0282f9;
  color: #fff;
}

.card {
  width: calc(100% / 6 - 30px);
  margin: 15px;
  background-color: gold;
}
.card .title {
  color: #fff;
}

main {
  background-color: #1c1c1c;
}

.wrapper {
  padding-top: 50px;
  flex-wrap: wrap;
}

.load {
  justify-content: center;
}
.load a {
  padding: 7px 35px;
  background-color: #0282f9;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.blue {
  background-color: #0282f9;
  height: 150px;
  margin-top: 30px;
}
.blue .container {
  align-items: center;
  height: 100%;
}
.blue .container .cell {
  width: calc(100% / 5 - 20px);
  margin: 0 10px;
  justify-content: center;
}
.blue .container .img img, .blue .container .img svg {
  width: 50px;
}
.blue .container .cell-txt {
  align-items: center;
  margin-left: 15px;
  color: #fff;
}