/* COLORS */
/* /COLORS */
/* TYPO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

nav {
  width: 100%;
}
nav .nav-up {
  background-color: #0282f9;
}
nav .nav-up .container .nav-up-text {
  height: 30px;
  margin-left: auto;
  color: #fff;
  align-items: center;
}
nav .nav-up .container .nav-up-text span {
  margin-left: 50px;
  font-size: 10px;
}
nav .nav-up .container .nav-up-text span i {
  margin-left: 5px;
}
nav .nav-down {
  height: 100px;
}
nav .nav-down .container {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
nav .nav-down .container .logo img {
  width: 60px;
}
nav .nav-down .container .nav-cmd {
  height: 100%;
}
nav .nav-down .container .nav-cmd ul {
  height: 100%;
  align-items: center;
}
nav .nav-down .container .nav-cmd ul li {
  margin: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav-down .container .nav-cmd ul li:hover {
  border-bottom: 5px solid #0282f9;
}
nav .nav-down .container .nav-cmd ul li:hover a {
  color: #0282f9;
}
nav .nav-down .container .nav-cmd ul li.active {
  border-bottom: 5px solid #0282f9;
}
nav .nav-down .container .nav-cmd ul li.active a {
  color: #0282f9;
}
nav .nav-down .container .nav-cmd ul li a {
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  font-weight: 600;
}
nav .nav-down .container .nav-cmd ul li i {
  margin-left: 5px;
  color: #0282f9;
  font-size: 10px;
}
nav .nav-down .container .search {
  border-bottom: 2px solid #0282f9;
}
nav .nav-down .container .search input {
  border: 0;
  width: 100px;
  outline: 0;
}
nav .nav-down .container .search button {
  border: 0;
  background-color: inherit;
  padding-left: 10px;
}

::-moz-placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

:-ms-input-placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

::placeholder {
  text-align: right;
  font-weight: 600;
  color: #000;
}

.jumbo {
  position: relative;
  background-image: url(/img/jumbotron.jpg);
  height: 500px;
}

.card {
  width: calc(100% / 6 - 30px);
  margin: 15px;
}
.card .thumb {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.card .thumb:hover .overlay {
  opacity: 1;
}
.card .thumb .overlay {
  opacity: 0;
  transition: opacity 0.6s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.card .title {
  color: #fff;
  margin-top: 10px;
}
.card .title p {
  font-size: 13px;
}

section .blue-banner {
  height: 60px;
  background-color: #0282f9;
  position: relative;
}
section .blue-banner .container .comic-demo {
  position: absolute;
  bottom: 10px;
  border: 1px solid #fff;
}
section .blue-banner .container .comic-demo span.up {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a9d9;
  color: #fff;
  padding: 3px 4px;
}
section .blue-banner .container .comic-demo span.down {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00a9d9;
  width: 100%;
  text-align: center;
  padding: 3px 0;
  color: #fff;
}
section .comic-details {
  background-color: #fff;
}
section .comic-details .container {
  padding-bottom: 70px;
}
section .comic-details .container .det-left {
  width: 60%;
}
section .comic-details .container .det-left .comic-title {
  margin-top: 70px;
  margin-bottom: 20px;
}
section .comic-details .container .det-left .green {
  background-color: #55ba59;
  margin-bottom: 20px;
}
section .comic-details .container .det-left .green .price {
  width: 70%;
  padding: 15px 20px;
  justify-content: space-between;
}
section .comic-details .container .det-left .green .price span {
  color: #bafd9c;
}
section .comic-details .container .det-left .green .available {
  width: 30%;
  border-left: 1px solid black;
  padding: 15px 20px;
}
section .comic-details .container .det-left .green .available span {
  color: #fff;
}
section .comic-details .container .det-left .green .available span i {
  cursor: pointer;
  margin-left: 5px;
}
section .comic-details .container .det-left .description p {
  line-height: 25px;
  font-size: 13px;
}
section .comic-details .container .det-right .advertising {
  margin-top: 70px;
  margin-left: 50px;
  height: 100%;
  position: relative;
}
section .comic-details .container .det-right .advertising p {
  position: absolute;
  right: 0;
  top: -25px;
  font-weight: 600;
}

.comic-specs {
  background-color: #f6f6f6;
  padding-bottom: 150px;
}
.comic-specs .container .col-50 {
  width: 50%;
  flex-wrap: wrap;
}
.comic-specs .container .col-50.lef {
  margin-right: 10px;
}
.comic-specs .container .col-50.rig {
  margin-left: 35px;
}
.comic-specs .container .col-50 .col-100 {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
}
.comic-specs .container .col-50 .col-100 h4 {
  font-size: 20px;
}
.comic-specs .container .col-50 .col-100.title {
  padding-top: 20px;
  height: 60px;
}
.comic-specs .container .col-50 .col-100 .col-left {
  width: 40%;
}
.comic-specs .container .col-50 .col-100 .col-left p {
  font-size: 13px;
}
.comic-specs .container .col-50 .col-100 .col-right {
  width: 60%;
}
.comic-specs .container .col-50 .col-100 .col-right a {
  font-size: 13px;
  color: #00a9d9;
}
.comic-specs .container .col-50 .col-100 .col-right a:hover {
  color: #9ae9ff;
}
.comic-specs .container .col-50 .col-100 .col-right p {
  font-size: 13px;
}
.comic-specs .container .col-50 .col-100 .col-right .artists {
  flex-wrap: wrap;
}
.comic-specs .container .col-50 .col-100 .col-right .artists a {
  font-size: 13px;
  margin-left: 3px;
}

.digital-shop {
  height: 100px;
  border-top: 1px solid lightgrey;
  background-color: #f6f6f6;
}
.digital-shop .container {
  border-left: 1px solid lightgrey;
}
.digital-shop .container .modules {
  display: flex;
  width: calc(100%/4);
  height: 100px;
  border-right: 1px solid lightgrey;
  justify-content: space-between;
  padding: 20px;
}
.digital-shop .container .modules p {
  color: lightgrey;
  font-weight: 700;
}
.digital-shop .container .modules img {
  width: 50px;
  height: 60px;
}

main {
  background-color: #1c1c1c;
  position: relative;
}
main .label {
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: -30px;
  background-color: #0282f9;
  color: #fff;
}

.wrapper {
  padding-top: 50px;
  flex-wrap: wrap;
}

.load {
  justify-content: center;
}
.load a {
  padding: 7px 35px;
  background-color: #0282f9;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.blue {
  background-color: #0282f9;
  height: 150px;
  margin-top: 30px;
}
.blue .container {
  align-items: center;
  height: 100%;
}
.blue .container .cell {
  width: calc(100% / 5 - 20px);
  margin: 0 10px;
  justify-content: center;
}
.blue .container .img img, .blue .container .img svg {
  width: 50px;
}
.blue .container .cell-txt {
  align-items: center;
}
.blue .container .cell-txt a {
  margin-left: 15px;
  color: #fff;
}

footer {
  height: 450px;
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .container .left {
  width: 50%;
  padding: 50px 0;
  flex-wrap: wrap;
}
footer .container .left .col-25 {
  width: 25%;
}
footer .container .left .col-25 ul {
  margin-bottom: 20px;
}
footer .container .left .col-25 ul li.uppercase {
  margin-bottom: 10px;
}
footer .container .left .col-25 ul li.uppercase a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .container .left .col-25 ul li a {
  font-size: 13px;
  color: grey;
  margin: 3px 0;
}
footer .container .left .col-25 ul li a:hover {
  color: #0282f9;
}
footer .container .left .col-50 {
  width: 50%;
}
footer .container .left .col-50 ul {
  margin-bottom: 20px;
}
footer .container .left .col-50 ul li.uppercase {
  margin-bottom: 10px;
}
footer .container .left .col-50 ul li.uppercase a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .container .left .col-50 ul li a {
  font-size: 13px;
  color: grey;
  margin: 3px 0;
}
footer .container .left .col-50 ul li a:hover {
  color: #0282f9;
}
footer .container .left .cookies {
  font-size: 13px;
  padding-right: 50px;
}
footer .container .left .cookies p {
  color: grey;
}
footer .container .left .cookies p a {
  color: #0282f9;
}
footer .container .right {
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 50%;
}
footer .container .right img {
  width: 600px;
  position: absolute;
  top: -80px;
}
footer .followus {
  height: 100px;
  background: #303030;
}
footer .followus .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
footer .followus .container .follow-left a {
  border: 1px solid #0282f9;
  padding: 10px 15px;
  color: #fff;
  transition: background-color 0.4s;
}
footer .followus .container .follow-left a:hover {
  background-color: #0282f9;
}
footer .followus .container .follow-right {
  align-items: center;
}
footer .followus .container .follow-right a {
  font-weight: 700;
  color: #0282f9;
  margin: 0 20px;
  transition: color 0.3s;
}
footer .followus .container .follow-right a:hover {
  color: #fff;
}
footer .followus .container .follow-right img {
  margin: 0 8px;
}