/* COLORS */
$sec-bg: #0282f9;
$nav-up-txt: #fff;
$main-txt: #fff;
$third-bg:#fff;
$sec-txt: #000;
$main-bg: #1c1c1c;
$banner-price: #55ba59;
$spec-bg: #f6f6f6;
/* /COLORS */

/* TYPO */
$xs: 10px;
$s: 13px;
$m: 20px;
$l: 30px
/* /TYPO */