nav {
    width: 100%;
    .nav-up {
        background-color: $sec-bg;
        .container {
            .nav-up-text {
                height: 30px;
                margin-left: auto;
                color: $nav-up-txt;
                align-items: center;
                span {
                    margin-left: 50px;
                    font-size: $xs;
                    i {
                        margin-left: 5px;
                    }
                }
            }    
        }
    }
    .nav-down {
        height: 100px;
        .container {
            align-items: center;
            height: 100%;
            justify-content: space-between;
            .logo {
                img {
                    width: 60px;
                }
            }
            .nav-cmd {
                height: 100%;
                ul {
                    height: 100%;
                    align-items: center;
                    li {
                        margin: 0 30px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        &:hover {
                            border-bottom: 5px solid $sec-bg;
                        }
                        &:hover a {
                            color: $sec-bg;
                        }
                        &.active {
                            border-bottom: 5px solid $sec-bg;
                            a {
                                color: $sec-bg;
                            }
                        }
                        a {
                            text-transform: uppercase;
                            font-size: $s;
                            color: $sec-txt;
                            font-weight: 600;
                        }
                        i {
                            margin-left: 5px;
                            color: $sec-bg;
                            font-size: $xs;
                        }
                    }
                }

            }
            .search {
                border-bottom: 2px solid $sec-bg;
                input {
                    border: 0;
                    width: 100px;
                    outline: 0;
                }
                button {
                    border: 0;
                    background-color: inherit;
                    padding-left: 10px
                }
            }
        }
    }
}

::placeholder {
    text-align: right;
    font-weight: 600;
    color: $sec-txt;
}